.featuresCard {
    padding: 30px 0;
    display: block;

    .container {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .title {
            margin-bottom: 5px;
        }

        .text {
            font-size: 12px;
            height: 45px;
            overflow: hidden;
        }


        .feature1 {
            display: flex;
            gap: 10px;
            padding: 30px;
            border: 1px solid var(--dimMainColor);
        }
    }

}