@media only screen and (max-width: 992px) {
    header .menulist {
        display: none;
    }

    header .menubar {
        padding: 15px;
    }

    .menuToggler {
        display: block;
    }

    .featuresCard .container {
        grid-template-columns: 1fr
    }

    .productTab .products {
        grid-template-columns: 1fr;
    }

    .productsAndSlider .productGrid {
        grid-template-columns: 1fr;

    }

    .productsAndSlider .container {
        flex-direction: column-reverse;
    }

    .social .container,
    .searchbar .container {
        flex-direction: column;

    }


    footer .menuLinkWrapper .container {

        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }
}

@media only screen and (min-width: 992px) {
    .menuToggler {
        display: none;
    }
}