
*{
    margin: 0;
    padding: 0;
}
.menuStyles{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.menuItems{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menuItems li a{
    color: #333;
    text-decoration: none;
}